{% extends 'base.html' %}

{% block content %}
<!-- <link rel="stylesheet" href="{{url_for('static', filename = 'automations.css')}}"> -->

<div class="container">
    <h1>לחיים קלים 🥂</h1>
    <div class="cards">
        {% for card in cards %}
        <div class="card" data-id="{{card.id}}">
            <h2 class="card-title">{{card.name}}</h2>
            <p>{{card.description}}</p>
        </div>
        {%endfor%}

        <div id="modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                    <span class="modal-close">&times;</span>
                </div>
                <div id="modal-body">
                    <form id="modal-form">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner hidden"></div>
    <div id="loadingMessage"></div>
    <div id="automation-circles-container"></div>

    <script type="module" src="{{url_for('static', filename = 'js/automations/automations.js')}}"></script>
    <script type="module" src="{{url_for('static', filename = 'js/automations/services/ServerService.js')}}"></script>
    <script type="module" src="{{url_for('static', filename = 'js/automations/ui/AutomationUI.js')}}"></script>
    <script type="module" src="{{url_for('static', filename = 'js/automations/automations.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/features/automation/automations.css')}}">
</div>
{% endblock %}
