main {
    grid-area: main;
    height: calc(100vh - 64px);
    background: linear-gradient(to left top, rgb(235 237 241), rgb(255, 255, 255));
}

#home-main {
    padding: 1rem;
    align-items: center;
    justify-items: center;
    display: grid;
    gap: 3rem;
    overflow: hidden;
    height: 100%;
}

#image-container {
    position: relative;
}

#image-container img {
    width: 60rem;
} 